<!-- ==========================
  MY ACCOUNT - START
=========================== -->
<section class="content account">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <aside class="sidebar">

          <!-- WIDGET:CATEGORIES - START -->
          <div class="widget widget-navigation">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/accounts/dashboard">Account Dashboard</a></li>
              <li><a href="/accounts/profile">Personal Infromation</a></li>
              <li class="active"><a href="/accounts/address">My Address</a></li>
              <li><a href="/accounts/orders">My Orders</a></li>
              <li><a href="/accounts/wishlist">Wishlist</a></li>
              <li><a href="/home/index">Back to Shop</a></li>
            </ul>
          </div>
          <!-- WIDGET:CATEGORIES - END -->

        </aside>
      </div>
      <div class="col-sm-9">
        <article class="account-content">
          <h3>My Addresses</h3>
          <div class="table-responsive border">
            <table class="table table-bordered">
              <% serial = 1 %>
              <tr>
                <th>Serial</th>
                <th>Name</th>
                <th>Address</th>
                <th>Country</th>
                <th>Phone</th>
                <th></th>
              </tr>
              <% if !@users_addresses.nil? %>
                  <% @users_addresses.find_each do |addr| %>
                      <tr>
                        <td><%= serial %></td>
                        <% serial += 1 %>
                        <td><%= "#{addr[:first_name]} #{addr[:last_name]}" %></td>
                        <td><%= "#{addr[:address_one]}, #{addr[:address_two]}" %></td>
                        <td><%= "#{addr[:country]}" %></td>
                        <td><%= "#{addr[:phone]}" %></td>
                        <td>
                          <a class="btn btn-primary btn-sm" href="/accounts/addaddress?edit=1&sn=<%= addr.id %>"><i class="fa fa-pencil"></i></a>
                          <a class="btn btn-primary btn-sm" href="/accounts/address?delete=1&sn=<%= addr.id %>"><i class="fa fa-times"></i></a>
                        </td>
                      </tr>
                  <% end %>
              <% else %>
                  <tr><td colspan="6" class="text-center">Nothing to display!</td></tr>
              <% end %>
              <!--
                            <tr>
                              <td>Microsoft Corporation</td>
                              <td>John Doe</td>
                              <td>16, Main street 2nd floor 33133 Miami</td>
                              <td>United States</td>
                              <td>+420 123 456 789</td>
                              <td><a class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i></a><a class="btn btn-primary btn-sm"><i class="fa fa-times"></i></a></td>
                            </tr>
              -->
            </table>
          </div>
          <a href="/accounts/addaddress" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Add New Address</a>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
  MY ACCOUNT - END
=========================== -->
