<!-- ==========================
  MY ACCOUNT - START
=========================== -->
<section class="content account">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <aside class="sidebar">

          <!-- WIDGET:CATEGORIES - START -->
          <div class="widget widget-navigation">
            <ul class="nav nav-pills nav-stacked">
              <li><a href="/accounts/dashboard">Account Dashboard</a></li>
              <li class="active"><a href="/accounts/profile">Personal Infromation</a></li>
              <li><a href="/accounts/address">My Address</a></li>
              <li><a href="/accounts/orders">My Orders</a></li>
              <li><a href="/accounts/wishlist">Wishlist</a></li>
              <li><a href="/home/index">Back to Shop</a></li>
            </ul>
          </div>
          <!-- WIDGET:CATEGORIES - END -->

        </aside>
      </div>
      <div class="col-sm-9">
        <article class="account-content">

          <div class="account-profile-top">
            <div><img src=<%= current_user.avatar.nil? ? gravatar(current_user.email) : current_user.avatar %> alt="">
            </div>
            <div>
              <h3><%= "#{current_user.first_name} #{current_user.last_name}" %>
                <small><%= current_user.email %></small>
              </h3>
            </div>
            <div class="button"><a href="#" class="btn btn-primary">Change Avatar</a></div>
          </div>
          <% if !$errors.nil? %>
              <ul>
                <% for error in $errors %>
                    <li><%= error %></li>
                <% end %>
              </ul>
          <% end %>
          <%= form_for(:profile, html: {class: "form-horizontal"}, url: {action: "profile"}) do |f| %>
              <div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">First Name<span class="required">*</span></label>
                <div class="col-md-8 col-lg-6">
                  <%= f.text_field :first_name, class: "form-control", value: current_user.first_name %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">Last Name<span class="required">*</span></label>
                <div class="col-md-8 col-lg-6">
                  <%= f.text_field :last_name, class: "form-control", value: current_user.last_name %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">Email<span class="required">*</span></label>
                <div class="col-md-8 col-lg-9">
                  <%= f.email_field :email, class: "form-control", value: current_user.email, disabled: true %>
                </div>
              </div>

              <!--<div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">Phone<span class="required">*</span></label>
                <div class="col-md-8 col-lg-9">
                  <%= f.text_field :phone, class: "form-control", value: current_user.phone.nil? ? "" : current_user.phone %>
                </div>
              </div>-->

              <div class="form-group">
              </div>
              <div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">Password<span class="required">*</span></label>
                <div class="col-md-8 col-lg-9">
                  <%= f.password_field :old_password, class: "form-control", placeholder: "**********" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">New Password<span class="required">*</span></label>
                <div class="col-md-8 col-lg-9">
                  <%= f.password_field :new_password, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-4 col-lg-3 control-label">Confirm New
                  Password<span class="required">*</span></label>
                <div class="col-md-8 col-lg-9">
                  <%= f.password_field :confirm_password, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-4 col-md-8 col-lg-offset-3 col-lg-9">
                  <%= f.submit "Update", class: "btn btn-primary" %>
                </div>
              </div>
          <% end %>

        </article>
      </div>
    </div>
  </div>
</section>
<!-- ==========================
  MY ACCOUNT - END
=========================== -->